asyncio==3.4.3
fuzzywuzzy==0.18.0
grpcio-tools==1.71.0
kavenegar==1.1.2
langchain==0.3.24
langchain-anthropic==0.3.12
langchain-mistralai==0.2.10
langchain-openai==0.3.14
pymongo==4.11.1
pytest-asyncio==0.26.0
pytest-mock==3.14.0
python-dotenv==1.1.0
python-levenshtein==0.27.1
pytz==2025.2
scikit-learn==1.6.1
torch==2.6.0+cpu --index-url https://download.pytorch.org/whl/cpu
transformers==4.49.0
uuid==1.30